<!DOCTYPE html>
<html>
 <head> 
 </head>
<title>Add students</title>
<body>
  <h1>Students</h1>
<p><a href="/students">List students</a></p>
  <ol>
    {{#each names}}
        <li>{{this}}</li>
    {{/each}}
  </ol>
</body>
</html> 